html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;

  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
}

p,
span,
div {
  font-family: "Ubuntu", sans-serif;
}
